# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual Environment
venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# SQLite DB
# =========================
*.db
*.sqlite3

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# ONNX / Model files
# =========================
*.onnx
*.pt
*.bin
model/